*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }

  .navbar {
    background-color: purple;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}
.navbar a:hover {
    color: #ff0;
}

  body{
    background-color: #38bfc3;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
  }
  
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-box{
    position: right;
    width: 400px;
    height: auto;
    border: 7px solid rgba(0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-box h2{
    color: black;
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
  }
  
  .form-box .input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
  }
  
  .form-box .input-box input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    padding: 0 20px 0 5px;
    color: white;
    font-size: 16px;
  }
  
  input::placeholder{
    color: white;
  }
  
  .btn{
    display: block;
     width: 100%;
     height: 40px;
     border-radius: 5px;
     outline: none;
     border: none;
     margin-top: 10px;
     margin-bottom: 10px;
     font-size: 17px;
     padding: 10px;
     cursor: pointer;
  }
  
  .btn:hover{
    color: white;
    background: gray;
  }
  
  #result{
    color: red;
    font-weight: 600;
    position: top;
    top: 25px;
  }
  
  
  @media (max-width: 600px){
    .container{
      padding: 10px;
      min-width: none;
    }
  
    .input-box{
      margin-bottom: 12px;
      width: 100%;
    }
    .gender-box{
      display: flex;
      justify-content: space-between;
      width: 100px;
    }
  
    .form-box::-webkit-scrollbar{
      width: 0;
    }
  }
  